
/* Media Queries and Breakpoints for responsive web design 

0px - 480px for cell phones

480px - 768px for cell phones / small tablets

768px - 1024px small tablets / large tablets

1024px - 1200px laptop / desktop

1200px - 1365px large laptop / desktop

*/

/* Large laptop to desktop: from 1200 to 1367px (Our one row defined as 1140px wide*/
/* My Laptop size*/
@media only screen and (max-width: 1367px) {
    
   /* Section topic includes header: "I Protest red light and speed photo cameras and here is why" */
h2 {
    
    padding-top: 160px;
    
}
 
    
    /* Section topic covers the whole section topic*/
    
    .section-topic {    
        height: 650vh;        
    }
    
    /* New Uber and Lyft Section with promo codes */
    .uber-lyft {
        height: 110vh;    
    }
    
     /* New Uber and Lyft Section with promo codes "I AM UBER — LYFT DRIVER" */
    .section-name {        
        text-align: center;        
        margin-top: 60px;
        margin-bottom: 40px;        
    }
    
     #welcome {
    background-size: cover;
    color: #1a1102;
    text-align: center;
    padding-top: 0px;
    margin-top: -40px;
    margin-bottom: 15px;
    margin-left: 30px;
    font-size: 120%;
    font-weight: 300;    
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
}
   
    .container {
  position: relative;
  width: 70%;
  max-width: 300px;
}

.container img {
  width: 100%;
  height: auto;
  margin-left: 40px
}

.container .btn {
  position: absolute;
  top: 50%;
  left: 64%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
    
    #btnfull-U {                                             /* New Test btn Lyft */        
        width: 230px;
        /* 10px top and bottom, 30px left and right*/
        padding: 10px 30px;
        border-radius: 200px;
        margin-left: 5px;
}
    
    #btnfull-L {                                             /* New Test btn Lyft */        
        width: 230px;
        /* 10px top and bottom, 30px left and right*/
        padding: 10px 30px;
        border-radius: 200px;
        margin-left: 5px;
}

   
    
    .signup-steps {
        margin-bottom: 50px;
        margin-left: -3%;    
        width: 160%;
    }

    .signup-steps div {        
        border-radius: 50%;
        height: 40px;
        width: 40px;
        text-align: center;
        float: left;
        font-size: 150%;
        margin-top: 0px;
        margin-right: 20px;
    }
    
}  

/* Large tablet to small desktop: from 1024 to 1200px (Our one row defined as 1140px wide*/
/* My Tablet Size*/
@media only screen and (max-width: 1200px) {  
        
     /* Header including text and Chicago main picture */
header {    
      background-size: auto;     
    }   
    
    
    /* Header including text and Chicago main picture */
    .chicago-text-box {   
        width: 100%;
        padding: 0 2%;          
    } 
    
    html,
    body {
        font-size: 16px;
        line-height: 1.6;        
    }   
    
   /* Section topic covers the whole section toopic*/
    
    .section-topic {    
        height: 550vh;
        width: 100%;
        padding: 0 2%;
        margin-left: 0;
        margin-right: auto
    }
    
    /* Section topic includes a DIV containing topic paragraph" */
    .content-topic {    
        padding: 0 2%;
    }
    
    .container {
       /* width: 100%; */
        width: 100%;
        padding: 0 2%;
        margin-left: 0;
        margin-right: auto;
    }
    
    .row {
        max-width: 100%;
        padding: 0 2%;
        
    }
    
    .main-text {
    max-width: 100%;
    padding: 0 2%;        
    }
    
    /* Section topic includes class links-box to update links to the right of the topic paragraph */
    .links-box {     
        margin-left: 0px; 
        padding: 0 2%;
    }


    /* Section topic includes Red Light photo to the right formatting */
    .red-light img {        
        height: 180px;
        width: 280px;        
    }
    
    /* New Uber and Lyft Section with promo codes */
    
    .uber-lyft {
        height: 120vh;
        width: auto;
        background-color: #e1eaea;
        background-size: cover;
    }
    
     /* New Uber and Lyft Section with promo codes "I AM UBER — LYFT DRIVER" */
    .section-name {        
        text-align: center;        
        margin-top: 60px;
        margin-bottom: 40px;        
    }
    
       
    .container {
  position: relative;
  width: 80%;
  max-width: 300px;  
}

.container img {
  width: 100%;
  height: auto;
  margin-left: 0px;
  
}

.container .btn {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 15px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
    
     #btnfull-U {                                             /* New Test btn Lyft */        
        width: 190px;
        /* 10px top and bottom, 30px left and right*/
        padding: 10px 30px;
        border-radius: 200px;
        margin-left: -47px;
}
    
    #btnfull-L {                                             /* New Test btn Lyft */        
        width: 190px;
        /* 10px top and bottom, 30px left and right*/
        padding: 10px 30px;
        border-radius: 200px;
        margin-left: -47px;
}

  
    
    .signup-steps {
        margin-bottom: 50px;
        margin-left: %;        
        width: 100%;
    }

    .signup-steps div {        
        border-radius: 50%;
        height: 40px;
        width: 40px;
        text-align: center;
        float: left;
        font-size: 150%;
        margin-top: 0px;
        margin-right: 20px;
    }
    
    .uber-lyft-driver {
    width: auto;
    height: 300px;
    margin-top: 15px;
    margin-left: 35px;
}
    
    /* New Uber and Lyft advirtisement Section */

.section-uberlyft-add {
    background-size: contain;
    }
      
}



/* Small tablet to large tablets: from 768 to 1023px */
@media only screen and (max-width: 1023px) {
   
     /* Header including text and Chicago main picture */
    .chicago-text-box {   
        width: 100%;
        padding: 0 2%;          
    } 
    
}


/* Small cell phones to small tablets: from 481 to 767px */
@media only screen and (max-width: 767px) {
    
    /* Header including text or headings to be reused */
    h1 {    
    font-size: 160%;
    letter-spacing: 1px;
    word-spacing: 3px;
    }
}


/* Small cell phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    
    
   html,
    body {
        
        overflow-x: hidden;
        
        /* allows to control the scroll bars or hide them, get rid of the secon scroll bar */
    } 
    
      /* Header including text and Chicago main picture */
    header {    
        background-size: cover;
        -webkit-backface-visibility: hidden;
    }   
    
       
    /* Header including text first part or headings to be reused */
    h1 {    
        font-size: 100%;
        letter-spacing: 1px;
        word-spacing: 2px;
    }
    
    /* Header including text second part or headings to be reused */
    h5 {        
        font-size: 90%;
        font-weight: 300;        
    }
    
    /* Header including two buttons */
    .btn:link,
    .btn:visited {
        margin-top: 15px;
        /* 10px top and bottom, 30px left and right*/
        padding: 5px 14px;
        border-radius: 200px;
        font-weight: 300;
    }
    
    /* Section topic covers the whole section toopic*/
    
    .section-topic {    
        height: 950vh;
        width: 100%;        
    }
    
    /* Section topic includes header: "I Protest red light and speed photo cameras and here is why" */
    h2 {   
        padding-top: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
        font-size: 130%;     
        letter-spacing: 0px;
        word-spacing: 1px;
    }
    
    /* Section topic includes a DIV containing topic paragraph" */
    .content-topic {           
        border-right: none; 
    }
    
    /* Section topic includes Red Light photo to the right formatting */
    .red-light img {
        display: block;
        height: 150px;
        width: 250px;
        margin-top: 20px;
    }
    
    /* New Uber and Lyft Section with promo codes */
    .uber-lyft {
        height: 370vh;
    }
    
    /* Section I AM UBER - LYFT DRIVER text size*/
    .section-name {    
        font-size: 130%;         
        word-spacing: 3px;
    }
    
     /* Section I AM UBER - LYFT DRIVER Uber screen*/
    
    
   
    
 .container {
      position: relative;
      width: 80%;
      max-width: 300px;  
}

.container img {
      width: 100%;
      height: auto;
      margin-left: 30px;
  
}

.container .btn {
  position: absolute;
  top: 50%;
  left: 77%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 18px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
    
     #btnfull-U {                                             /* New Test btn Lyft */        
        width: 220px;
        /* 10px top and bottom, 30px left and right*/
        padding: 10px 30px;
        border-radius: 200px;
        margin-left: -44px;
}
    
    #btnfull-L {                                             /* New Test btn Lyft */        
        width: 220px;
        /* 10px top and bottom, 30px left and right*/
        padding: 10px 30px;
        border-radius: 200px;
        margin-left: -44px;
}
    
    .signup-steps {
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 2%; 
        width: 90%;
        
    }
    
    #welcome {
    background-size: cover;
    color: #1a1102;
    text-align: center;
    padding-top: 0px;
    margin-top: -40px;
    margin-bottom: -15px;
    margin-left: -210px;
    font-size: 80%;
    font-weight: 400;    
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
}
    
     /* New Uber and Lyft advirtisement Section */

.section-uberlyft-add {
    background-size:cover;
    }
    
    .uber-lyft-logo {
    width: 50%;
    height: 100px;
    margin-top: 15px;
    margin-left: 90px;   
}

.uber-lyft-driver {
    width: 50%;
    height: 250px;
    margin-top: 15px;
    margin-left: 90px;
    margin-bottom: 20px;
}
    
/* Comments Section */
.fields {
  transform: translate(30%, 60%);  
  margin-top: -160px;
  margin-bottom: 60px;  
  width: 250px;
}

    

    
}