* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
    background-color: rgba(242, 221, 174, 0.99);  /*#eaefef */
    color: #1a1102;
    
}

h1 {
    color: rgba(0, 84, 128, 0.54);
    font-size: 40px;
    text-align: center; 
    margin-bottom: 20px;
}

p {
   text-align: center;
   color: chocolate;   
}

ul {
   text-align: justify;   
   margin-bottom: 20px;
   
}

.main-text {
    text-align: justify;
    line-height: 1.6;
    margin-right: 15px;
    font-family: 'Lato', 'Arial', sans-serif;    
    text-rendering: optimizeLegibility;
    overflow: none; /* allows to control the scroll bars or hide them, get rid of the secon scroll bar */
    font-size: 16px;
}

.first-paragraph {
    font-size: 22px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #c9c9c9;
}

.second-paragraph {
    font-size: 20px;
    margin-top: 10px;
    width: 350px;   
}

.container {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.biography {    
    width: 75%;
    float: left;
    padding-right: 30px;
    padding-left: 30px;
    border-bottom: 2px solid #c9c9c9;        
}

.picture-box {
    width: 25%;
    float: left;    
}

.my-picture img {
    height: 200px;
    width: 300px;
    border-radius: 50%;
}

.uber-lyft-logo img {
    width: auto;
    height: 130px;
    margin-top: 15px;
    margin-left: 35px
}
